*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 
.preloader {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  transition: trasnform 1.5s ease;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.465, 1);
  background-color: #eb6a4b;
}

.preloader-2 {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 1.5s;
  animation-fill-mode: both;
  background-color: #e7e8e9;
}

.preloader-3 {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.565, 1);
  animation-duration: 1.5s;
  animation-fill-mode: both;
  background-color: #589b9a;
} */

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
  background-color: #140a23;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-stretch: condensed;
}
h1 {
  font-size: 270px;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #916bc8;
  border: 2px solid #916bc8;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #916bc8;
}
/* .column {
  height: 120vh;
  padding-top: 200px;
} */

.box {
  padding: 50px;
  background-color: greenyellow;
}
